@import url('./global.css');

.intro {
    display: grid;
    grid-template-columns: 7fr 0.5fr 5fr;
    grid-template-rows: 1;
}

.intro-left {
    grid-column: 1;
    grid-row: 1;
}

.group-50 {
    max-width: 100%;
}

.intro-right {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hi-there {
    transform: translateY(12px);
}

.intro-subtitle {
    text-align: justify;
    padding-bottom: 30px;
}

.intro-button-bar {
    padding-bottom: 60px;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.summary-row-1 {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 36px;
}

.summary-row-2 {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 36px;
    align-items: start;
}

.summary-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.summary-box {
    border-radius: 60px;
    background: var(--pink-0);
    padding: 30px 45px;
}

.summary-soft-skills {
    background: var(--purple-100);
    padding: 30px 0px;
}
.summary-soft-skills > .summary-heading {
    padding: 0px 45px;
    padding-bottom: 15px;
}

.summary-software-skills {
    background: var(--pink-100-main-palette);
}

.summary-heading {
    color: var(--purple-400);
}

.summary-education, .summary-accomplishments {
    padding-bottom: 60px;
}

.timeline {
    padding-left: 40px; /* change this in the future! */
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
    grid-gap: 0;
    max-width: fit-content;
}

.timeline-entry {
    display: contents;
}

.timeline-entry-brief, .timeline-entry-body {
    padding-left: 40px;
}

.timeline-entry-time, .timeline-entry-brief {
    /* horizontal line here */
    padding-top: 40px;
    border-bottom: 1px solid var(--purple-300);
}

.timeline-entry-time {
    grid-column: 1;
    padding-bottom: 3px;
}

.timeline-entry-brief, .timeline-entry-body {
    grid-column: 2;
}

.icon-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-projects-section {
    background-color: var(--pink-0);
}

.my-projects-brief {
    text-align: center;
}

.filter-button-bar {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 60px;
}

.projects-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 36px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    opacity: 1;
    transition: all 0.5s;
}

.project-hidden {
    display: none;
}

.project-image-wrapper {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    left: 0;
    top: 0;
    aspect-ratio: 248/147;
}

.project-image {
    max-width: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 30px;
    transition: all 0.5s;
    aspect-ratio: 248/147;
}

.project-link-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 2px solid var(--pink-0);
    background: transparent;
    color: var(--pink-0);
    text-transform: none;
    padding: 10px 25px;
    font-size: 15px;
    opacity: 0;
    height: auto;
}

.project-link-button:hover {
    /* Vì .button-primary cũng có border on hover,
    ta sửa border: */
    border: 2px solid var(--pink-0);
    background: var(--pink-0);
    color: var(--purple-250);
    opacity: 1;
}

.project-image-filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 248/147;
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(20, 3, 28, 0.85) 19.23%, rgba(32, 9, 43, 0.00) 188.44%);
    opacity: 0;
    transition: opacity 0.5s;
}

/* https://stackoverflow.com/a/10483891/13680015 */
.project-image-wrapper:hover *, .project-link-button:hover ~ .project-image-filter {
    opacity: 1;
}

.project-brief-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.why-clients-choose-my-services {
    padding-bottom: 60px;
}

.feedbacks-section {
    padding-bottom: 180px;
}

.feedbacks-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 36px;
}

.feedback {
    border-radius: 176.5px;
    background: var(--purple-100);
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 79px;
    padding-right: 100px;
}

.feedbacker-avatar {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.feedback-body {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 39px;
}

.feedback-content-small {
    color: var(--purple-400);
}

.feedback-content-big {
    padding-top: 7px;
    color: var(--purple-500-main-palette);
    font-family: AristaLight;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    text-transform: capitalize;
    padding-bottom: 27px;
}

.feedbacker-name {
    color: var(--purple-250);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.feedbacker-card {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}

.discuss-section {
    background: var(--pink-100-main-palette);
    padding-right: 0;
    padding-bottom: 60px;
}

.discuss-wrapper {
    display: grid;
    grid-template-columns: 4fr 8fr;
}

.discuss-left {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.discuss-left-message-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.social-icon-bar {
    gap: 10px;
    justify-self: flex-end;
    padding-top: 60px;
}

.discuss-right-wrapper {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    left: 0;
    top: 0;
}

.discuss-right {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;

    background: var(--pink-0);
    width: 100%;
    height: 180%;
    transform: translate(-50%, -55%);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    overflow-y: visible;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: auto auto;
}

.submit-wrapper {
    margin-top: 90px;
}

.have-an-awesome-idea {
    line-height: 90%;
}

.lets-discuss {
    line-height: 100%;
    padding-bottom: 30px;
}

.footer-section {
    padding-top: 180px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr 3fr;
}

.footer-wrapper > * {
    color: var(--purple-300);
}

.personal {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.personal-address {
    padding: 0;
    padding-top: 52px;
}

.personal-phone, .personal-email {
    padding: 0;
    padding-top: 48px;
    text-decoration: underline var(--purple-250);
    text-underline-offset: 7px;
}

.personal-email {
    padding: 0;
    padding-top: 25px;
}

.footer-right-wrapper {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-gap: 50px;
}

.hyperlinks-columns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.hyperlinks-columns a {
    text-decoration: none;
    color: var(--purple-300);
}

.hyperlinks-columns a:visited {
    color: var(--purple-400);
}

.hyperlinks-columns a:hover {
    color: var(--purple-500-main-palette);
}

.hyperlinks-column-1, .hyperlinks-column-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
